[Unit]
Description=dde-widgets service

Wants=dde-osd.target
After=dde-osd.target

[Service]
Type=simple
RemainAfterExit=no
ExecStart=/usr/bin/dde-widgets
